<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404 Page Not Found</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div id="wrapper">
            <% include partials/sidebar.ejs %>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p align="center" class="">
                                Leave your thoughts.
                            </p>
                            <br /><br /><br />

                            <blockquote class="mainLines">
                                    <code>404 error</code> This is embarrasing.
                            </blockquote>

                            <blockquote class="mainLines">
                                Please go back to main page. Click <a href="/">here</a>
                            </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/js-includes.ejs %>
    </body>
</html>
