<!DOCTYPE html>
<html lang="en">
    <head>
        <title>500 Server error</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div id="wrapper">
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p align="center" class="headingFont">
                                <h1>Leave stories and your thoughts</h1>
                            </p>
                            <br /><br /><br />

                            <blockquote class="mainLines">
                                <code>500 server error</code>
                                Please go back to main page. Click <a href="/">here</a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/js-includes.ejs %>
    </body>
</html>
