<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leave a story and your thoughts!</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div id="wrapper">
            <% include partials/sidebar.ejs %>
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p align="center">
                                    <h1>Leave a story and your thoughts!</h1>
                                </p>
                                <br />
                                <h3>Share your stories and become a part of the adventurous club of the storytellers. </h3>
                                <img src="/images/storyteller.png" alt="Share your stories">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% include partials/js-includes.ejs %>
    </body>
</html>
