<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <% include partials/head.ejs %>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 panel panel-default">

                <h1 align="center" class="margin-base-vertical">Login</h1>
                <% if(typeof(errorMessage) !== 'undefined') {%>
                    <div align="center">
                        <code><%=errorMessage%></code>
                    </div>
                <%}%>
                <form class="margin-base-vertical" method="post" action="/authenticate">
                    <p class="input-group ">
                        <span class="input-group-addon"><span class="fa fa-user-circle"></span></span>
                        <input type="email" required class="form-control input-lg" name="email" placeholder="Email" />
                    </p>
                    <p class="input-group ">
                        <span class="input-group-addon"><span class="fa fa-key"></span></span>
                        <input type="password" required class="form-control input-lg" name="password" placeholder="Password" />
                    </p>
                    <br />
                    <p class="text-center">
                        <button type="submit" class="btn btn-success btn-lg">Login</button>
                    </p>
                </form>
                <div class="margin-base-vertical">
                    <h5 align="center">Create an account <a href="/register">here</a></h5>
                </div>
                <div align="center">
                    <a href="/">Go to home page</a>
                </div>
                <br />
            </div>
        </div>
    </div>
</body>
</html>