<!DOCTYPE html>
<html lang="en">
<head>
    <title>Logged out</title>
    <% include partials/head.ejs %>
</head>
<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <br />
                <li class="sidebar-brand">
                    <a class="brandFont" align="center" href="/">
                        Leave your thoughts
                      </a>
                </li>
                <br />
                <div align="center">
                    <img class="img-circle" src="/images/lofoten-1.png" />
                </div>
                <br />
                <li>
                    <a class="menus" align="center" href="/stories">Stories</a>
                </li>
                <li>
                    <a class="menus" align="center" href="/new-story">Share your story and thoughts</a>
                </li>
                <li>
                    <a class="menus" align="center" href="/techStack">Tech stack</a>
                </li>

                <br /><br /><br />
                <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a type="button" href="/login" class="btn btn-primary btn-lg outline">Login</a>&nbsp;&nbsp;&nbsp;
                    <a type="button" href="/register" class="btn btn-danger btn-lg outline">Sign Up</a>
                </div>
            </ul>
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p align="center" class="headingFont">
                            Leave your thoughts
                        </p>
                        <br /><br /><br />
                        <blockquote class="mainLines">
                            <code><%=loggedOutUser%></code> have been logged out!<br /> Login again by clicking <a href="/login">here</a>                            to create your own story or just read other's <a href="/stories">stories</a>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/js-includes.ejs %>
</body>
</html>