<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Logged out</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div id="wrapper">
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Leave your stories and your thoughts</h1>
                            <br /><br /><br />
                            <blockquote class="mainLines">
                                <code><%=logoutUser%></code>, you have been logged out!<br /> 
                                Login again by clicking <a href="/login">here</a> 
                                to create your own story or just read other's <a href="/stories">stories</a>.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/js-includes.ejs %>
    </body>
</html>