<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration was successful!</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div id="wrapper">
            <% include partials/sidebar.ejs %>
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p align="center">
                                    <h1>Leave a story and your thoughts!</h1>
                                </p>
                                <br /><br /><br />
                                <blockquote class="mainLines">
                                    Welcome <code><%=session.newuser%></code>, your account has been created successfully.<br />                                
                                    Please <a href="/login">login</a> to create your own story and share it with the world.
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% include partials/js-includes.ejs %>
    </body>
</html>