<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tech Stack</title>
    <% include partials/head.ejs %>
</head>
<body>
    <div id="wrapper">
        <% include partials/sidebar.ejs %>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p align="center" class="">
                            <h1>Leave a story and your thoughts!</h1>
                        </p>
                        <br />
                        <blockquote class="mainLines">
                            Here is our tech stack: <br />
                            <code>NodeJS framework:</code><a target="_blank" href="http://expressjs.com/"> ExpressJS</a> <br />
                            <code>Database:</code><a href="https://www.mongodb.org/" target="_blank"> MongoDB</a> <br />
                            <code>Database hosting on:</code><a href="https://mongolab.com/" target="_blank"> MongoLab</a> <br />
                            <code>Styling and layout:</code><a href="http://getbootstrap.com/" target="_blank"> Bootstrap</a> 
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/js-includes.ejs %>
</body>
</html>